<div class="main-form">
    <form action="/Posts/add" method="POST">
        <div>
            <p>Titulo</p>
            <input type="text" name="post_title"/>
            <p>Conteudo</p>
            <textarea name="post_content"></textarea>
        </div>
        <div>
            <button type="submit" class="btn-success">Cadastrar Postagens</button>
        </div>
    </form>
</div>